# dependencies
node_modules
package-lock.json

# logs
npm-debug.log
yarn-error.log

# other
.nuxt
_archived
dist
.vscode
.idea
newrelic_agent.log
.DS_STORE
.eslintrc

# docs
/docs

# @nuxtjs/pwa
sw.*

.env

# Optional eslint cache
.eslintcache
