/* Droid Arabic Kufi Font */
@font-face {
  font-family: 'droid';
  src: url('/fonts/droid/Droid Arabic Kufi.ttf');
}
@font-face {
  font-family: 'droid';
  src: url('/fonts/droid/Droid Arabic Kufi Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'droid';
  src: url('/fonts/droid/DroidKufi-Regular.ttf');
  font-weight: 400;
}
